{% extends "takouine/home.html" %}
{% load static %}
{% block content %}
<br>
<br>
<body>
    <div class="container">
        <h2>Modifier l'éditeur</h2>
        <form method="POST">
            {% csrf_token %}
            <!-- User form fields -->
            <label for="id_username">Nom d'utilisateur:</label>
            {{ user_form.username }}
            <!-- Customer form fields -->
            <label for="id_name">Nom et prénom:</label>
            {{ edituer_form.name }}
            <label for="id_email">E-mail:</label>
            {{ edituer_form.email }}
            <label for="id_phone">Téléphone:</label>
            {{ edituer_form.phone }}
            <label for="id_age">Âge:</label>
            {{ edituer_form.age }}
            <button type="submit">Mise à jour</button>
        </form>

        <!--  errors for user_form -->
        {% if user_form.errors %}
            <div class="error-message">
                <ul>
                    {% for field in user_form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <!--  errors for edituer_form -->
        {% if edituer_form.errors %}
            <div class="error-message">
                <ul>
                    {% for field in edituer_form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
       
    </div>

    


    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: 37px  auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            margin-top: 0;
        }
        form {
            margin-top: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 10px 20px;
            background-color: #ffd333;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
        .error-message {
            color: red;
            margin-top: 5px;
        }
    </style>


   
</body>

{% endblock  %}