{% extends "takouine/home.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h2>Change Password of Stagiaire</h2>
        <form method="POST">
            {% csrf_token %}
            <!-- Old password field -->
            <label for="id_old_password">Old Password:</label>
            {{ form.old_password }}
            <!-- New password field -->
            <label for="id_new_password1">New Password:</label>
            {{ form.new_password1 }}
            <!-- Confirm new password field -->
            <label for="id_new_password2">Confirm New Password:</label>
            {{ form.new_password2 }}
            <button type="submit">Change Password</button>
        </form>
        <br>
        <a href="{% url 'escpasAdminStagiaire' %}"><button type="submit">Reture</button></a>
        <!-- Display form errors -->
        {% if form.errors %}
            <div class="error-message">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            margin-top: 0;
        }
        form {
            margin-top: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 10px 20px;
            background-color: #ffd333;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #ffd333;
        }
        .error-message {
            color: red;
            margin-top: 5px;
        }
</style>

{% endblock %}
