<div class="container pb-5">
  <h1>Supprimer Stagiaire</h1>
  <p>Etes-vous sûr que vous voulez supprimer <strong>{{ stagiaire.user.username }}</strong>?</p>
  <form method="POST">
      {% csrf_token %}
      {% if redirect_url %}
          <a href="{% url redirect_url %}">Retour</a>
      {% else %}
          <a href="{% url 'default_url_name' %}">Retour</a>  <!-- Provide a default URL or handle as needed -->
      {% endif %}
      <button type="submit">Oui</button>
  </form>
</div>



<style>
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f2f2f2;
      }
      
      h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
      }
      
      form {
        margin-top: 20px;
      }
      
      a {
        display: inline-block;
        margin-right: 10px;
        color: #333;
        text-decoration: none;
      }
      
      button {
        background-color: #337ab7;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #286090;
      }
      
      button:focus {
        outline: none;
      }
      
</style>

